@font-face { font-family: Courier; src: url('../fonts/CourierNew.ttf'); }
.company-info {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
.company-info h4 {
    margin: 0 0 3px;
}
.company-info p {
    font-size: 12px;
    margin: 0;
}
.info {
    padding: 4px 5px 3px;
    border-bottom: 1px solid #000;
}
.date {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}
.warehouse {
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    border-bottom: 1px solid #000;
}
.label-wh {
    padding: 4px 5px 3px;
}
.label-date {
    padding: 4px 5px 3px;
    text-align: right;
}
.center-unit {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.unit-metrics {
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}
.country-label {
    border-right: 1px solid #000;
}
.code-bar {
    font-family: Code39, serif;
    padding-top: 10px;
    font-size: 28px;
    margin: 0;
    text-align: center;
}
.barcode-label {
    border-top: 1px solid #000;
}
.legend-barcode {
    text-align: center;
    font-size: 18px;
    margin-top: -15px;
}
p.label-content {
    font-size: 11px;
    margin: 0 0 1px;
}
p.p-content {
    font-size: 12px;
    margin: 0 0 1px;
}
p.label-units {
    padding-top: 5px;
    font-size: 9px;
    margin: 0 0 1px;
}
p.label-units-code {
    font-family: Courier, serif;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    margin: 0 0 1px;
}
p.p-units {
    font-size: 12px;
    margin: 0 0 1px;
}
p.country {
    font-size: 28px;
    margin-bottom: 3px;
}
.big-label {
    padding-top: 10px;
}
p.big-label-code,
p.big-label-pieces {
    text-align: center;
    font-size: 96px;
    font-weight: bold;
    text-transform: uppercase;
}
p.big-label-destination,
p.big-label-consignee {
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
}