@font-face { font-family: Code39; src: url('../fonts/Code39.ttf'); }
h5 {
    margin-bottom: 2px;
}
.row-padding {
    padding-bottom: 10px;
}
.company-info p {
    font-size: 9px;
    margin-bottom: 0;
}
.document-info {
    text-align: right;
}
.document_number {
    font-size: 11px;
}
.code-bar {
    font-family: Code39;
    font-size: 25px;
    margin: 0;
}
.footer {
    font-size: 9px;

}
.footer-sign {
    font-size: 9px;
    line-height: 0px;
}
.footer-sign-td{
    border-top: solid;
    border-top-width: thin;
    font-size: 10px;
    line-height: 10px;
}
.panel {
    box-shadow: none;
}
.panel-default {
    margin-bottom: 5px;
}
.panel-heading {
    font-size: 8px;
    font-weight: bold;
    padding: 5px 10px;
}
.panel-body {
    padding: 5px 10px;
}
.panel-body p {
    font-size: 8px;
    margin-bottom: 0;
}
.panel-body .row {
    padding-bottom: 7px;
}
.panel-body .row .col-xs-6 {
    height: 15px;
}
.table {
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.table thead, .table tfoot {
    background-color: #f5f5f5;
    font-size: 8px;
}
.table tfoot tr td {
    padding: 2px 8px;
    border-top: 0px;
}
.table thead tr th {
    border-bottom: 0px;
}
.table tbody {
    font-size: 8px;
}
.resume-table {
    font-size: 9px;
}
.header-table tbody tr td {
    border-top: 0;
    padding: 1px 0;
}
.resume-table tbody tr td {
    border-top: 0;
    padding: 1px 8px;
}
.col-xs-6 .ion {
    font-size: 11px;
    padding-right: 5px;
}
.col-xs-6 span {
    font-size: 9px;
}
.table-bordered tbody tr td {
    padding: 1px 8px;
    border-color: #000;
}

.date {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}
.p-title {
    margin: 0 0 1px;
    font-size: 7px;
}
.p-content {
    margin: 0 0 1px;
    font-size: 11px;
}

.line-text{
    border-bottom: 1px solid #000;
    padding: 1px 1px;
}

.bl-number {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}
.bl-table tbody tr td {
    border-top: 0;
    padding: 1px 2px;
}




