.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;

}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

.tab-content.step .row {
    padding-top: 5px !important;
}

.step li a:focus, .step li a:hover {
    background-color: transparent !important;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }


}
.mt-element-step .step-thin .mt-step-col {
    padding-top:10px;
    padding-bottom:10px
}
.mt-element-step .step-thin .nav .mt-step-col .mt-step-number {
    font-size:26px;
    border-radius:50%!important;
    float:left;
    margin:auto;
    margin-top: -8px;
    padding:3px 14px
}
.mt-element-step .step-thin .mt-step-title {
    font-size:24px;
    font-weight:100;
    padding-left:60px;
    margin-top:-4px
}
.mt-element-step .step-thin .mt-step-content {
    padding-left:60px;
    margin-top:-5px
}
.mt-element-step .step-thin .active {
    background-color: #1e5475 !important
}
.mt-element-step .step-thin .active .mt-step-number {
    color:#1e5475 !important;
}
.mt-element-step .step-thin .active .mt-step-content,.mt-element-step .step-thin .active .mt-step-title {
    color:#fff!important
}
.mt-element-step .step-thin .done {
    background-color:#26C281!important
}
.mt-element-step .step-thin .done .mt-step-number {
    color:#26C281!important
}
.mt-element-step .step-thin .done .mt-step-content,.mt-element-step .step-thin .done .mt-step-title {
    color:#fff!important
}
.mt-element-step .step-thin .error {
    background-color:#E7505A!important
}
.mt-element-step .step-thin .error .mt-step-number {
    color:#E7505A!important
}
.mt-element-step .step-thin .error .mt-step-content,.mt-element-step .step-thin .error .mt-step-title {
    color:#fff!important
}
.font-grey-cascade {
    color:#95A5A6!important
}
.bg-font-grey-cascade {
    color:#FFF!important
}
.bg-white {
    background:#fff!important
}
.bg-white-opacity {
    background:rgba(255,255,255,.8)!important
}